
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: rgb(236, 213, 184);  

}

header {
    background-color: #edae49;
    box-shadow: 10px 10px 10px #6f736f;
    padding: 0em;
    margin: 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    margin-top: 0;  
}


h1 {
    color: black;
    text-shadow: 2px 2px #edae49, 4px 4px #6f736f;
    font-size: 4vh;
    font-weight: 300;
    margin: 0px;
    padding-top: 1vh;
    transition: font-size 1s;
}

h2 {
    font-weight: 300;
    font-size: 2vh;
}

h3 {
    font-weight: 400;
    font-size: 2vh;
    margin-top: 1.5vh;
    margin-bottom: .5vh;
}

a {
    font-size: 2vh;
}

p {
    font-size: 2vh;
}

header h2 {
    font-size: 3vh;
    margin: 0vh;
    padding-bottom: 1.5vh;
    transition: font-size 2s;
}

.mainGrid {
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10vh;
    
}

section img {
    width: 100%;
    margin-top: 1vh;
}

.designTopic h2 {
    background-color: black;
    color:white;
    margin: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: .5em;
 }

 .contentBox {
    margin: 1vh;
 }
 

.designTopic {
    background-color: 
    white;
    border-radius: 10px;
    margin: 10%;
}

footer {
    background-color: #edae49;
    box-shadow: 10px 10px 10px #6f736f;
    text-align: center;
    padding: 1em;
}

footer p {
    padding:  0em 0em 0em 0em;
    margin: 0px;
    font-size: small;
    color: black;  
}

#copyright {
    font-size: large;

}