:root {
    /*These are the colors*/
    --color-primary: #EFEFEF;
    --color-secondary: #f7f7f7;
    --color-accent1: #ffde59;
    --color-accent2: #7CB242;
    --color-accent3: #FF9E9E;
    --color-accent4: #3F51B5;
 
    --color-paragraph-background: #FFDE59;
    --color-nav-link: #000000;
    --color-nav-background: #cec7a8;
    --color-nav-hover-link: #3a508a;
    --color-nav-hover-background: #efefef;
  
    /*These are the fonts*/
    --font-heading: 'Sacramento', Verdana, sans-serif;
    --font-subheading: Montserrat, Verdana, sans-serif;
    --font-subheading2: Montserrat, Verdana, sans-serif;
    --font-paragraph: Montserrat, Verdana, sans-serif;
 }

 * {
    margin: 0;
    padding: 0;
 }

 header {
    
    display: grid;
    grid-template-columns:3fr 2fr 1fr 2fr 3fr;
    width:100%;
    height: 400px;
    background-image: url("/images/hero-field.webp");
 }

 h1 {
    font-family: var(--font-heading);
    font-weight: 300;
    
 }

 header h1 {
    grid-column: 1/6;
    grid-row: 2/5;
    font-size: 8vw;
    transition: font-size 0.8s;
    margin: 0 auto;
    text-shadow: 1px 1px var(--color-primary), 2px 2px #6f736f;
    
 }

 .header-spacer {
    grid-column: 1/6;
    margin-top: 7vh;
    max-height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px var(--color-primary);
 }

 header .logo {
    max-height: 15vh;
    border: solid rgb(129, 122, 122) 3px;
    border-radius: 10px;
 }

 /*This is the style for the hamburger button*/
#container {
    display: inline-block;
    max-height: 35px;
    margin-top: 8px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: #000000;
    margin: 6px 0;
    transition: 0.8s;
}

.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
}

nav #container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/*This is the navigation style*/
nav {
    position: absolute;
    top: 7.2vh;
    right: 10vw;

    align-self: flex-start;
    justify-self: right;
    text-align:center; 
    font-family: var(--font-subheading2);
    /*font-weight: 100;*/
    width: 90px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index:25;
    font-size: small;
    display: none;
    background-color: var(--color-primary); 
}

nav a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--nav-link-color);
    border-top: 1px solid rgba(0,0,0,0.5);
    background-color: var(--color-primary);
    font-family: var(--font-subheading2);
    font-weight: 300;  
}

span img {
    max-height: 20px;
    border-radius: 10px;
    align-self: center;
}

nav ul li a:hover {
    
    color: var(--color-nav-hover-link);
    background-color: var(--color-nav-hover-background);
    text-decoration: underline;
    transform: none;
    cursor: pointer;
}

.active{
    text-decoration: underline;
    background-color: var(--color-secondary);

}


ul:hover {
    cursor: pointer;
}

nav ul.open {
    display: block;
}




