:root {
    /*These are the colors*/
    --color-primary: #EFEFEF;
    --color-secondary: #f7f7f7;
    --color-accent1: #ffde59;
    --color-accent2: #7CB242;
    --color-accent3: #ff9e9e;
    --color-accent4: #3F51B5;
 
    --color-paragraph-background: #FFDE59;
    --color-nav-link: #000000;
    --color-nav-background: #cec7a8;
    --color-nav-hover-link: #3a508a;
    --color-nav-hover-background: #efefef;
  
    /*These are the fonts*/
    --font-heading: 'Sacramento', Verdana, sans-serif;
    --font-subheading: Montserrat, Verdana, sans-serif;
    --font-subheading2: Montserrat, Verdana, sans-serif;
    --font-paragraph: Montserrat, Verdana, sans-serif;
 }

 * {
    margin: 0;
    padding: 0;
 }


 header {
    
    display: grid;
    grid-template-columns:3fr 2fr 1fr 2fr 3fr;
    width:100%;
    height: 440px;
    background-image: url("../images/hero-field.webp");
    
    position: sticky;
    top: -43vh;
 }

 header p {
    grid-column: 2/5;
    grid-row: 3/4;
    background-color: #e0e0e0;
    margin-top: 50px;
    box-shadow: inset 6px 6px 10px 0 rgba(0,0,0,0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    border-radius: 40px;
 }

 h1 {
    font-family: var(--font-heading);
    font-weight: 300;  
 }

 h2 {
    font-family: var(--font-subheading);
    font-weight: 700;
 }

 h3 {
    font-family: var(--font-subheading2);
    font-weight: 400;
 }

 p {
    font-family: var(--font-paragraph);
 }

 header h1 {
    grid-column: 1/6;
    grid-row: 2/5;
    font-size: 82px;
    transition: font-size 0.8s;
    margin: 2vh auto;
    
    text-shadow: 1px 1px var(--color-primary), 2px 2px #6f736f;
 }

 .header-spacer {
    grid-column: 1/6;
    margin-top: 5vh;
    max-height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 40px var(--color-primary);
    position: sticky;
    top: 5vh;

 }

 .header-spacer a {
    grid-column: 2/3;
 }

 .logo, .logo-footer {
    max-height: 10vh;
    border: solid rgb(129, 122, 122) 3px;
    border-radius: 10px;
 }



 .logo:hover {
    cursor: pointer;
    transform: scale(1.1);
 }

 /*This is the style for the hamburger button*/
#container {
    display: inline-block;
    max-height: 35px;
    margin-top: 4.5px;
    
    padding: 3px;
    border-radius: 3px;

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    transition: 0.8s;
    
}

.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -8px) rotate(45deg);
}

nav #container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/*This is the navigation style*/
nav {
    position: absolute;
    /*top: vh;*/
    right: 10vw;

    align-self: flex-start;
    justify-self: right;
    text-align:center; 
    font-family: var(--font-subheading2);
    width: 90px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index:25;
    font-size: small;
    display: none;
    background-color: var(--color-primary); 
}

nav a {
    display: block;
    padding: 1vh 1vw;
    text-decoration: none;
    color: var(--nav-link-color);
    border-top: 1px solid rgba(0,0,0,0.5);
    background-color: var(--color-secondary);
    font-family: var(--font-subheading2);
    font-weight: 300;  
}

span img {
    max-height: 20px;
    border-radius: 10px;
    align-self: center;   
}

nav ul li a:hover {
    
    color: var(--color-nav-hover-link);
    background-color: var(--color-nav-hover-background);
    text-decoration: underline;
    transform: none;
    cursor: pointer;
}

.active{
    text-decoration: underline;
    background-color: var(--color-accent1);

}


ul:hover {
    cursor: pointer;
}

nav ul.open {
    display: block;
}


/*Main styles*/
.background {
    background-color: var(--color-primary);
    width: 100%;
    margin: 0 auto;
    text-align: center;  
    padding-bottom: 2vh;
}

.background2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;  
    padding-bottom: 2vh;
}

.background h2, .background2 h2{
    font-size: 3.5vh;
    padding-top: 3vh;
}

.background h2 {
    margin-bottom: 8vh;
}

.splash-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin-top: 3vh;
    margin-bottom: 10vh;
    padding-bottom: 2vh;
}

.splash-container h3 {
    margin-top: 2vh;
}


.splash-container p {
    max-width: 80%;
    margin-top: 2vh;
    overflow: scroll;
    scrollbar-width:auto;
}

.splash-info p {
    margin-top: 0vh;
    overflow: scroll;
    scrollbar-width: auto;
    height: 150px;
}


.splash-container p:hover {
    cursor: pointer;
  
}

img{
    border: solid var(--color-primary) 7px;
    box-shadow: 0 0 10px #7d7b7b; 
}

.polka-dots {
    
    width: 100%;
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /*polka dots*/
    background-color: var(--color-accent2);
    background-image: radial-gradient(var(--color-accent1) 15%, transparent 11%);
    background-size: 30px 30px;
    background-position: 0 0, 30px 30px;
    background-repeat: repeat;

    max-height: 300px;

}

.juice-container {
    max-height: 300px;
    width: 345px;
}

.juice-count:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.polka-dots img {
    margin-top: -12vh;
}

.polka-dots .juice-count {
    position: relative;
    top: -47.5vh;
    left: -10vh;
    background-color: var(--color-accent4);
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.polka-dots .juice-count p {
    margin: 10px;
}

.roots {
    padding-top: 10px;
}

.weather {
    margin-top: 15vh;
    padding-top: 10px;
}

.roots h2 {
    padding-bottom: 6vh;
}

.roots .splash-container {
    border: dotted var(--color-accent3) 8px;
    border-radius: 30px;
    background-color: var(--color-secondary);
    margin-left: 10vh;
    margin-right: 10vh;
    margin-top: 9vh;
}


.roots img {
    margin-top: -60px;
}


/*This is the weather style*/
.weather {
    background-color: var(--color-primary);
}

.weather h2 {
    text-align: center;
}
#weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px;
    max-width: 80%;
    margin: 0 auto;
    
}

#weather-container {
    margin: 0;
    padding: 0;
}

#current {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    border: solid 1px var(--color-accent2);
    border-radius: 10px; 
    padding: 5px;
    
}

#current-info {
    display: flex;
    flex-direction: row;
}

figure {
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 1vh;
    font-family: var(--font-paragraph);
    font-size: 12px;
}

#current-info .emoji {
    
    margin: 0 10px;
    border: none;
    box-shadow: none;
}

#current #weather-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3vh;
}

#current p {
    margin: 0;
    padding: 10px 1vh 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: none;
}

#current p:hover {
    cursor:auto;
}


/*forecast styles*/
#forecast {
    display: flex;
    flex-direction: row;
    margin: 2vh 0;
}

.weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-secondary);
    height: 100px;
    border: 1px solid var(--color-accent2);
    border-radius: 10px;
    padding: 5px;
    margin: 0 10px;
}
 .day {
    background-color: var(--color-accent4);
    color: #fff;
    border-radius: 50px ;
    padding: 2px 8px; 
}
.weather-forecast-item .w-icon {
    border: none;
    box-shadow: none;
    margin: 0;
}



/*This is the footer style*/
footer {
    padding: 1rem 0;
    font-family: var(--font-paragraph);
    
}

footer img {
    display: block;
    margin:  0 auto;
    
}

footer h3 {
    text-align: center;
    padding: 15px 0 10px;
}

footer#update-data {
    grid-column: 3;
}

footer p{
    text-align: center;
}

footer a {
    text-decoration: none;  
}

footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#cont-info p {
    padding: 0;
}

#weather-credit {
    padding-top: 10px;
    font-size: 12px;
}

/*This is the style for the fresh page*/

.background p {
    padding: 20px;
}


/* FORM */
form {
    margin: 0 2vh 0;
}

form h2 {
    padding-top: 20px;
    text-align: center;
}

form fieldset {
    min-width: 350px;
    margin: 2rem auto;
    border: none;
    padding: .5rem 2%;
    max-width: 40rem;
    padding-bottom: 1.5rem;
    background-color: #e0e0e0;

    box-shadow: inset 6px 6px 10px 0 rgba(0,0,0,0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    border-radius: 40px;
}

form legend {
    background-color: #e0e0e0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .25);
    border-radius: 10px;
    margin: 0 1rem;
    padding: 1vh .5rem;
    max-width: 20rem;
    font-size: 1.2rem;
}

form label.top, form div {
    display:block;
    padding-top: 1rem;
    font-size: 1rem;
}

form label.top input, form label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    
    width: 100%;
    background-color: var(--color-primary);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    
}

form input#submit-btn {
    border: none;
    background-color: var(--color-accent3);
    
    border-radius: 1rem;
    width: 75%;
    max-width: 340px; 
    padding: .75rem 1.5rem;
}

form input#submit-btn:hover {
    cursor:pointer;
    transform: scale(1.1);
}

form label.top input:required {
    border-left: var(--color-accent3) solid 6px;
}
form label.top input:required:valid {
    border-left: var(--color-accent4) solid 6px;
}

form div {
    max-width: 40rem;
    margin: 2rem auto;
}

#customer-info input {
    width: 90%;
    margin: 0 auto;
}

#fruit textarea {
    width: 90%;
    margin: 0 auto;
}

#fruit {
    display: flex;
    flex-direction: column;
}

#fruit div {
    margin: 0;
}

#fruit label.left {
    text-align: left;
}

fieldset {
    font-family: var(--font-paragraph);
}

#fruit p {
    font-weight: 200;
}

.top {
    text-align: left;
    
}

/*This is the style for the about us page*/
.contact-info {
    margin-top: 10vh;
    width: 100vh;
}
.contact-info p{
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

.background2 h3 {
    font-family: var(--font-heading);
    font-size: 5vh;
}
iframe {
    margin: -80px;
    box-shadow: 0 0 10px #7d7b7b; 
}

/* ----------Resources Page---------- */

#resources-main h2, #resources-main p{
    text-align: center;
    margin: 3vh;
}

#resources-footer a{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}