@media only screen and (min-width: 1200px) {
    .header-spacer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header-spacer a {
        grid-column: 1/2;
    }

    img.logo {
        margin: -2.5vh 20vh;
    }

    nav {
        grid-column: 3/4; 
        
    }

    span img {
        max-height: 13px;
        border-radius: 10px;
        align-self: center;
    }

    #primary-nav span {
        align-content:center;
    }

    nav ul#primary-nav {
        
        display: flex;
        justify-content:right;
        background-color: transparent;
    }

    #primary-nav li { 
        
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    #primary-nav a {
        font-size: 2.5vh;
        margin: 0;
        padding: 0;
        width: auto;
        border-top: none;
        background-color: transparent;
        padding: 10px;
        font-weight: 800;
        
    }

    #primary-nav a:hover {
        color: #ffde59;
    }

    #container {
        display: none;
    }  

     /* --------About Us--------- */
     .roots-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   

}