
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height:  1.5;
    max-width: 660px;
    margin: 1.25rem auto;
    background-color: #efefef;
}

h1 {
    color: black;
    text-shadow: 2px 2px #cec7a8, 4px 4px #6f736f;
    font-size: 7vmin;
    font-weight: 300;
    padding-bottom: .5em;

}

h2 {
    font-weight: 400;
}

header {
    background-color: #cec7a8;
    padding: 2vh; 
    border-radius: .8em; 
    box-shadow: 10px 10px 10px #6f736f;
    text-align: center;
}


.flex-container {
    display: flex;
    flex-direction:row-reverse;
    justify-content:center;
    justify-content: space-around;
    align-items: center;
}


a:link {
    color:#e67084;
}
a:visited {
    color:#3a508e;
}
a:hover {
    color: black;
}


#me {
    float: left; 
    border-radius: .8em;
    border:#6f736f double .25em;
    width: 18vw;
    transition: width 1s;
    margin-left: 40px;
}

#one h2{
    padding-bottom: 0em;
    margin-bottom: 0em;
}

hr.dot-line{
    border-top:#3a508e dotted 3px;
    margin-top: 0em;
}

.assignment-complete {
    color: black;
    padding: .5em;
    background-color:#cec7a8;
    border-radius: .8em;
    border: #7d7c7a solid .1em;
    width: 40%;
    margin-bottom: .5em;
    text-align: left;
}

.assignment-complete span {
    font-size: 3vh;
    margin-left: 2.5vh;
}

.assignment-complete:hover {
    opacity: .8;
    transform: scale(1.1);
    box-shadow: 10px 10px 10px #6f736f;
}


footer {
    background-color: #cec7a8;
    border-radius: .8em;
    box-shadow: 10px 10px 10px #6f736f;
    text-align: center;
    padding: 1em;
}

footer p {
    padding:  0em 0em 0em 0em;
    margin: 0px;
    font-size: small;
    color: #3a508e;  
}

#copyright {
    font-size: large;
    color: black;
}

