/*If the viewport is 700px or wider*/
@media only screen and (max-width: 700px){

    header {
        max-width: 80%;
        max-height: 20%;
        margin: auto;
    }

    
    
    #one {
        max-width: 80%;
        margin: auto;
    }
   
    #one h2 {
        font-size: 3vmax;
        padding-left: 1em;
    }
    #w01 {
        font-size: 2.5vmax;
        width: 75%;
    }
    footer {
        max-width: 80%;
        margin: auto;
    }
    
    hr.dot-line {
        margin-bottom: 0em;
        width: 90%;
    }
}